body{
    color: aliceblue;
}


.choice-container{
display:flex;
margin-bottom: 0.8rem;
width: 40%;
border-radius: 50px;
background-color: blue;
font-size: 2.5rem;
min-width: 98%;
margin: 1rem;

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6,103, 247,0.5);
    transform: scale(1.02);
    transition: transform 100ms ;
}
/*quadrado de escolha*/
.choice-prefix{
    padding: 2rem 2.5rem;
    color: aliceblue;
}
.choice-text{
    padding: 2rem;
    width:   100%;
}
.hud-item{
    margin: 4rem;
    padding-right: 4rem;
}
#question{
    margin: 2rem;
    position: relative;
}

.correct{
    background:linear-gradient(32deg, rgba(11,223,36), rgb(41, 232, 111));
}
.incorrect{
    background:linear-gradient(32deg, rgb(223, 11, 11), rgb(232, 41, 41));
}

@media screen and (max-width: 768px) {
    .choice-container{
        min-width: none;
    }
}

/*precisa mostrar*/

#hud{
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    text-align: center;
    height: 2.5rem;
    padding: 2rem;
    font-size: 2.3rem;
}
.hud-main-text{
    text-align: center;
}
#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(0, 0, 225);
    margin-top: 2rem ;
    border-radius: 60px;
    overflow:hidden    
}
#progressBarFull{
    height: 100%;
    background: rgb(0,0,225);
width: 0%;
}
@media screen and (max-width: 760px) {
    .choice-container{
        min-width: 40rem;
    }
}
